<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/img/pexels-ketut-subiyanto-4546025.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Vision</h3>
            <ul>
                <li><i class="bi bi-check-circle"></i> The Sickle Cell Foundation of Arizona (SCFA) shall seek out,
                    promote, provide and create opportunities for those afflicted with Sickle Cell Disease (SCD) to
                    gain
                    access to available resources.</li>
                <li><i class="bi bi-check-circle"></i> The Foundation will support programs promoting SCD education,
                    research on the identification, prevention, treatment and cure of SCD and the provision of
                    services and
                    support to individuals and their families living with SCD.</li>
                <li><i class="bi bi-check-circle"></i> SCFA aspires to be a positive influence, resource and voice
                    of
                    inspiration to individuals afflicted with SCD and their families. Opportunities exist for SCFA
                    to
                    partner with public, private, educational, medical and other SCD organizations to achieve its
                    goals.
                </li>
            </ul>
        </div>
    </div>
</div>