<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="icon-box">
                <i class="fa-thin fa-hospital"></i>
                <br>
                <h3><a href="providers.html">Arizona Healthcare Providers</a></h3>
                <p><a href="providers.html">Find</a> doctors and hospitals that specialize in sickle cell disease
                    care.
                </p>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="icon-box">
                <i class="fa-thin fa-hospital"></i>
                <br>
                <h3><a href="providers.html">Arizona Healthcare Providers</a></h3>
                <p><a href="providers.html">Find</a> doctors and hospitals that specialize in sickle cell disease
                    care.
                </p>
            </div>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
            <div class="icon-box">
                <i class="fa-thin fa-people-group"></i>
                <br>
                <h3><a href="chw.html">Community Health Workers</a></h3>
                <p><a href="chw.html">Contact</a> a Community Health Worker who can assist individuals and families
                    find
                    the resources they need.</p>
            </div>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
            <div class="icon-box">
                <i class="fa-thin fa-hand-holding-heart"></i>
                <br>
                <h3><a href="">Support Our Cause</a></h3>
                <!--<p>From volunteering at an upcoming event to shopping on Amazon, there are many ways to contribute.</p>-->
                <p><a href="">Support</a> us in a variety of ways, from volunteering at an upcoming event to
                    shopping on
                    Amazon.</p>
            </div>
        </div>
    </div>
</div>