<div class="container">
    <div class="section-title">
        <h2>Partners &amp; Sponsors</h2>
        <p>The Sickle Cell Foundation of Arizona is proud to join with the community and work together to provide
            support on many levels.</p>
    </div>

    <div class="clients-slider swiper">
        <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a href="https://togetherforrare.com"><img
                        src="assets/img/partners/Pfizer_Logo_Color_RGB.png" class="img-fluid"
                        alt="Pfizer"></a></div>
            <div class="swiper-slide"><a href="https://www.azdhs.gov/"><img
                        src="assets/img/partners/adhs-logo-2024.png" class="img-fluid"
                        alt="Arizona Department of Health Services"></a></div>
            <div class="swiper-slide"><a href="https://www.bannerufc.com/"><img
                        src="assets/img/partners/banner-university-family-care.png" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="https://www.phoenixchildrens.org/"><img
                        src="assets/img/partners/phoenix-childrens-hospital.svg" class="img-fluid" alt=""></a></div>

            <div class="swiper-slide"><a href="https://www.bannerhealth.com/locations/tucson/diamond-childrens-medical-center?y_source=1_MTE5MDczMjQtNzE1LWxvY2F0aW9uLndlYnNpdGU%3D"><img
                src="assets/img/partners/banner-diamond-childrens.png" class="img-fluid" alt=""></a></div>

            <div class="swiper-slide"><a href="https://www.bluebirdbio.com/"><img
                src="assets/img/partners/bluebird-bio-logo.png" class="img-fluid" alt=""></a></div>

            <div class="swiper-slide"><a href="https://thekwamielassiterfoundation.org/"><img
                src="assets/img/partners/klf-logo.jpg" class="img-fluid" alt="Kwamie Lassiter Foundation"></a></div>

            <div class="swiper-slide"><a href="https://www.vrtx.com/home/"><img
                src="assets/img/partners/vertex-logo.png" class="img-fluid" alt="Vertex"></a></div>

            <div class="swiper-slide"><a href="https://www.redcross.org/local/az-nm/about-us/locations/southern-arizona.html?srsltid=AfmBOoqCPnIw-ZVJyQ0qGnATHYUgiFupyvU1yX3GpX37sRrMFT3wBhkw"><img
                src="assets/img/partners/red-cross-arizona-logo.png" class="img-fluid" alt=""></a></div>

            <div class="swiper-slide"><a href="https://disabilityrightsaz.org/"><img
                src="assets/img/partners/aadr-logo.jpg" class="img-fluid" alt=""></a></div>

            <div class="swiper-slide"><a href="https://www.candlelightersaz.org/"><img
                        src="assets/img/partners/candlelighters.png" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="https://chs.asu.edu/"><img
                            src="assets/img/partners/ashu-chs.jpg" class="img-fluid" alt="Arizona State University College of Health Solutions"></a></div>
            <div class="swiper-slide"><a href="https://theforceforhealth.com/"><img
                src="assets/img/partners/force-for-health.png" class="img-fluid" alt=""></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
