    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li>Healthcare Providers</li>
          </ol>
        </div>
      </section><!-- End Breadcrumbs -->
      <section class="blog">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-8 entries">
              <article>
                <div class="entry-content">
                  <p><a href="#"><i class="fa-solid fa-triangle-exclamation"></i></a>&nbsp;If you're experiencing a medical emergency, please call <a href="tel:911">911</a>.<br><br></p>
                </div>
              </article>
              <div class="section-title">
                <h2>Phoenix</h2>
              </div>
              <article class="entry">
                <h2 class="entry-title">
                  <a href="blog-single.html">Banner - University Medicine Internal Medicine Clinic</a>
                  <br>
                  <i class="fa-solid fa-mobile-button"></i>&nbsp;<a href="tel:6028393927"><span>602.839.3927</span></a>
                </h2>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-location-dot"></i>&nbsp;<a href="https://maps.app.goo.gl/7Z9qhtDLj28C2wSV8"><span>1300 North 12th Street, Floor 5, Suite 508, Phoenix, AZ 85006</span></a>
                  </p>
                </div>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-user-doctor"></i>&nbsp;<a href="https://doctors.bannerhealth.com/provider/naomi-newman/2275758">Naomi Newman, MD (Internal Medicine)</a>
                  </p>
                </div>
              </article><!-- End blog entry -->
              <article class="entry">
                <h2 class="entry-title">
                  <a href="blog-single.html">Phoenix Children’s Hospital Center for Cancer and Blood Disorders</a>
                </h2>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-location-dot"></i>&nbsp;<a href="https://maps.app.goo.gl/ix4iN3FUeDD5JQnu7"><span>1919 E Thomas Rd, Phoenix, AZ 85016</span></a>
                    <br>
                    <i class="fa-solid fa-mobile-button"></i>&nbsp;<a href="tel:6029330920"><span>602.933.0920</span></a>
                  </p>
                </div>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-user-doctor"></i>&nbsp;Sanjay Shah, MD (Sickle Cell and Hemoglobinopathy Program Director)
                    <br>
                    <i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:sshah2@phoenixchildrens.com"><span>sshah2@phoenixchildrens.com</span></a>
                  </p>
                </div>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-user-doctor"></i>&nbsp;Esteban Gomez, MD (Adult and Pediatric Patients)
                    <br>
                    <i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:egomez@phoenixchildrens.com"><span>egomez@phoenixchildrens.com</span></a>
                  </p>
                </div>
              </article><!-- End blog entry -->
              <div class="section-title">
                <h2>Tucson</h2>
              </div>
              <article class="entry">
                <h2 class="entry-title">
                  <a href="blog-single.html">Banner University Medical Center</a>
                </h2>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-location-dot"></i>&nbsp;<a href="https://maps.app.goo.gl/HVKUPAJq7geQT96p7"><span>1501 N Campbell Ave Tucson, AZ 85724</span></a>
                    <br>
                    <i class="fa-solid fa-mobile-button"></i>&nbsp;<a href="tel:5206940111"><span>520.694.0111</span></a>
                  </p>
                </div>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-user-doctor"></i>&nbsp;Ravi Krishnadashan, MD (Adult Hematologist)
                    <br>
                    <i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:krisrav@email.arizona.edu"><span>krisrav@email.arizona.edu</span></a>
                  </p>
                </div>
                <div class="entry-content">             
                  <p>
                    <i class="fa-solid fa-user-doctor"></i>&nbsp;Neha Bhasin, MD (Pediatric Hematologist)
                    <br>
                    <i class="fa-solid fa-envelope"></i>&nbsp;<a href="mailto:bhasin@peds.arizona.edu"><span>bhasin@peds.arizona.edu</span></a>
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
