# Jekyll generated output
_site/

# Jekyll caches
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler
.bundle/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log