<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li>Community Health Workers</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title">
          <h2>Community Health Workers</h2>
          <p>Please reach out to any of our Community Health Workers.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
              <div class="testimonial-item">
                <h3>Akilah Gilbert</h3>
                <h4>Tucson</h4>
                <br>
                <div class="contact-info d-flex align-items-center">
                  <i class="bi bi-envelope d-flex align-items-center">&nbsp;<a href="mailto:akilah.gilbert@scfaz.org">akilah.gilbert@scfaz.org</a></i>
                  <i class="bi bi-phone d-flex align-items-center ms-4">&nbsp;<a href="tel:5205278988"><span>520.527.8988</span></a></i>
                </div>
              </div>
          </div>

          <div class="col-lg-6">
            <div class="testimonial-item">
              <h3>Mark Morales</h3>
              <h4>Phoenix</h4>
              <br>
              <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center">&nbsp;<a href="mailto:mark.morales@scfaz.org">mark.morales@scfaz.org</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4">&nbsp;<a href="tel:5209340777"><span>520.340.0777</span></a></i>
              </div>
            </div>
          </div>

      </div>
    </section><!-- End Testimonials Section -->