 <!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="index.html">Home</a></li>
            <li>Services</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->

 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-people-group"></i></div>
            <h4><a href="chw.html">Community Health Workers</a></h4>
            <p>We have a team of Community Health Workers who can connect individuals with sickle cell disease and
              their families to the resources they need</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-hospital"></i></div>
            <h4><a href="providers.html">Healthcare Providers</a></h4>
            <p>We identify healthcare providers in the state of Arizona who specialize in the treatment of sickle cell
              disease</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-users-rectangle"></i></div>
            <h4><a href="">Support Groups</a></h4>
            <p>We host quarterly Zoom meetings providing an opportunity for learning and sharing experiences</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-regular fa-calendar-days"></i></div>
            <h4><a href="">Events</a></h4>
            <p>We plan a variety of events throughout the year to promote learning or to simply allow families to
              enjoy time together</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
            <h4><a href="">Financial Assistance</a></h4>
            <p>We provide financial assistance for individuals with sickle cell disease and their families</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-graduation-cap"></i></div>
            <h4><a href="">Educational Grants</a></h4>
            <p>We offer grants to individuals who are obtaining higher level education</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fa-solid fa-mobile-screen-button"></i></div>
            <h4><a href="https://360scdhub.org/" target="_blank">360 SCD Hub</a></h4>
            <p>We provide a mobile and web app for tracking personal health care information, learning about sickle
              cell disease and more</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->