<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="/">Home</a></li>
      <li>Schedule Appointment</li>
    </ol>
  </div>
</section>
<!-- End Breadcrumbs -->
  
<section class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article>
          <div class="entry-content">
            <b>Specialist Physicians for Adult Sickle Cell Care</b><br>
            <p>We have compiled a list of physicians who specialize in managing adult patients with sickle cell disease. To schedule an appointment, please call the phone number listed next to each doctor’s name.</p>
          </div>
        </article>
        <div class="section-title">
          <h2>Phoenix</h2>
        </div>
        <article class="entry">
          <h2 class="entry-title">
            <a>Naomi Newman, MD (Internal Medicine)</a>
          </h2>
          <div class="entry-content">             
            <p>
              <i class="fa-solid fa-hospital"></i>&nbsp;<span>Banner - University Medicine Internal Medicine Clinic</span>
              <br>
              <i class="fa-solid fa-mobile-button"></i>&nbsp;<a href="tel:6028393927"><span>602.839.3927</span></a>
              <br>
              <i class="fa-solid fa-location-dot"></i>&nbsp;<a href="https://maps.app.goo.gl/7Z9qhtDLj28C2wSV8"><span>1300 North 12th Street, Floor 5, Suite 508, Phoenix, AZ 85006</span></a>
              <br>
            </p>
          </div>
        </article>
        <article class="entry">
          <h2 class="entry-title">
            <a>Sanjay Shah, MD (Sickle Cell and Hemoglobinopathy Program Director)</a>
          </h2>
          <div class="entry-content">             
            <p>
              <i class="fa-solid fa-hospital"></i>&nbsp;<span>Phoenix Children’s Hospital Center for Cancer and Blood Disorders</span>
              <br>
              <i class="fa-solid fa-mobile-button"></i>&nbsp;<a href="tel:6029330920"><span>602.933.0920</span></a>
              <br>
              <i class="fa-solid fa-location-dot"></i>&nbsp;<a href="https://maps.app.goo.gl/ix4iN3FUeDD5JQnu7"><span>1919 E Thomas Rd, Phoenix, AZ 85016</span></a>
              <br>
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
