    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>News</li>
          </ol>
          <h2>News</h2>
        </div>
      </section><!-- End Breadcrumbs -->
      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
          <!--<a class="twitter-timeline" href="https://twitter.com/SickleCellAZ?ref_src=twsrc%5Etfw">Tweets by SickleCellAZ</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
         <a class="twitter-timeline" href="https://twitter.com/XDevelopers?ref_src=twsrc%5Etfw">Tweets by XDevelopers</a>
        </div>
      </section><!-- End Blog Section -->