<!-- Vendor JS Files -->
<script defer src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script defer src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script defer src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script defer src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script defer src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script defer src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script defer src="/assets/vendor/php-email-form/validate.js"></script>
<script defer src="https://static.elfsight.com/platform/platform.js"></script>

<!-- Template Main JS File -->
<script defer src="/assets/js/helpers.js"></script>
<script defer src="/assets/js/nav.js"></script>
