<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">

    <ol>
      <li><a href="index.html">Home</a></li>
      <li>About</li>
      <li>Advisors</li>
    </ol>

  </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
          <h4>Thomas Ball, MD</h4>
          <span>
            <a href="mailto:tball@arizona.edu">tball@arizona.edu</a>
          </span>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
          <h4>Kate Frazee</h4>
          <span>
            <a href="mailto:kate@integrativetouch.org">kate@integrativetouch.org</a>
          </span>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
          <h4>Laura Davis, LMSW</h4>
          <span>
            <a href="mailto:laura.davis2@bannerhealth.com">laura.davis2@bannerhealth.com</a>
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>
      <div class="member">
        <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
        <h4>Mary Cochran, MD</h4>
        <span>
          <a href="mailto:drmaryaz@yahoo.com">drmaryaz@yahoo.com</a>
        </span>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>
      <div class="member">
        <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
        <h4>Neha Bhasin, MD</h4>
        <span>
          <a href="mailto:neha.basin@ucsf.edu">neha.basin@ucsf.edu</a>
        </span>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch"></div>
      <div class="member">
        <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
        <h4>Beverly Tidwell</h4>
        <span>
          <a href="mailto:beverly@candlelightersaz.org">beverly@candlelightersaz.org</a>
        </span>
      </div>
    </div>
  </div>

  </div>
</section><!-- End Team Section -->