<section id="breadcrumbs" class="breadcrumbs"></section>

<div class="section-title">
    <h2>Board of Directors</h2>
</div>

<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Dr. Sanjay Shah, MD</h4>
            <span>Chairman of the Board</span>
            <span>
              <a href="mailto:sshah2@phoenixchildrens.com">sshah2@phoenixchildrens.com</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Moses Akpan</h4>
            <span>President</span>
            <span>
              <a href="mailto:moses.akpan@scfaz.org">moses.akpan@scfaz.org</a>
            </span>
            <span>
              <a href="tel:5208911815">520.891.1815</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Dr. John Hutter, MD</h4>
            <span>Treasurer</span>
            <span>
              <a href="mailto:hutterjj@gmail.org">hutterjj@gmail.org</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Jennifer Lambert</h4>
            <span>Secretary</span>
            <span>
              <a href="mailto:jennifer.lambert@scfaz.org">jennifer.lambert@scfaz.org</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Dr. Esteban Gomez, MD</h4>
            <span>Director</span>
            <span>
              <a href="mailto:egomez@c3dibd.org">egomez@c3dibd.org</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Dr. Naomi Newman, MD</h4>
            <span>Director</span>
            <span>
              <a href="mailto:naomi.newman@bannerhealth.com">naomi.newman@bannerhealth.com</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Sarah Spiekermeier</h4>
            <span>Director</span>
            <span>
              <a href="mailto:sarah.spiekermeier@bannerhealth.com">sarah.spiekermeier@bannerhealth.com</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Ericka Lassiter</h4>
            <span>Director</span>
            <span>
              <a href="mailto:ericka.lassiter@gmail.com">ericka.lassiter@gmail.com</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Steve Patalsky</h4>
            <span>Director</span>
            <span>
              <a href="mailto:stevepat78@yahoo.com">stevepat78@yahoo.com</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Lori Throne</h4>
            <span>Director</span>
            <span>
              <a href="mailto:lori.throne@scfaz.org">lori.throne@scfaz.org</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Lisa Alexander</h4>
            <span>Director</span>
            <span>
              <a href="mailto:lisa.alexander@scfaz.org">lisa.alexander@scfaz.org</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/team/Profile-PNG-Clipart.png" alt="">
            <h4>Kevin Johnston</h4>
            <span>Director of Technology</span>
            <span>
              <a href="mailto:kevin.johnston@scfaz.org">kevin.johnston@scfaz.org</a>
            </span>
            <!--
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            -->
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Team Section -->